<div class="blogger">
  <h1 class="name"><a href="{{magazineUrl}}">{{name}}</a></h1>
  <h2 class="session">Session: {{schoolSession}}</h2>
  <h3 class="number-of-entries">Number of Entries: {{numberOfEntries}}</h3>
  <h3 class="blog-url">Blog URL: {{blogUrl}}</h3>
  <div class="entries">
    {{#each entries}}
      <h4 class="title">Title: <a href="{{jsonUrl}}">{{title}}</a></h4>
      <h5 class="originally-published">Originally Published: {{publishedDate}} at <a href="{{blogUrl}}">{{blogUrl}}</a></h5>
      <p class="summary">{{summary}}</p>
    {{/each}}
  </div>
</div>