<style type="text/css">
  #sidebar-wrapper {
    background-color: white;
  }
</style>

<div id="about">
  <h1>Flatiron Blogs //</h1>
  <p class="first">
    This site is a reimagination of the <%= link_to "Flatiron Magazine", "http://magazine.flatironschool.com", target: "_blank" %> (<%= link_to "github", "https://github.com/kyleshike/fl_mag", target: "_blank" %>), a website that aggregates the blogs written by web and mobile development students at the <%= link_to "Flatiron School", "http://flatironschool.com", target: "_blank" %>. The Flatiron Magazine was created by <%= link_to "Kyle Shike", "https://github.com/kyleshike", target: "_blank" %> and <%= link_to "Patrick Janson", "https://github.com/PHJ45", target: "_blank" %>, students in the Ruby 003 class at the Flatiron School.
  </p>
  <p class="second">
    Six months later, two students in the Ruby 005 class at Flatiron, <%= link_to "Chris Callahan", "https://github.com/callahanchris", target: "_blank" %> (<%= link_to "twitter", "https://twitter.com/_c_cal", target: "_blank" %>) and <%= link_to "Peter Glennon", "https://github.com/pcrglennon", target: "_blank" %> (<%= link_to "twitter", "https://twitter.com/pcrglennon", target: "_blank" %>), wanted to take the Flatiron Magazine a step further. They forked the Flatiron Magazine repo on Github and built in a <%= link_to "JSON API", "#", target: "_blank" %> (<b>link forthcoming</b>) on top of it. The Flatiron Blogs app is based off of this API, and makes use of frontend technologies such as JavaScript, <%= link_to "jQuery", "http://jquery.com", target: "_blank" %>, AJAX, <%= link_to "Handlebars.js", "http://handlebarsjs.com/", target: "_blank" %>, and <%= link_to "PJAX", "http://pjax.heroku.com", target: "_blank" %> to render the views with infinite scrolling and RESTful URLs a la <%= link_to "Quartz", "http://qz.com", target: "_blank" %>.
  </p>
</div>

<script type="text/javascript">
  $(function() {
    entriesController.disableScroll();
    sidebarController.resetEntries();
  });
</script>