<div class="entry" id="{{slug}}">
  <div class="info">
    <h1 class="title">{{title}}</h1>
      <h3 class="blogger-name">
        <a href="{{blogger.blogUrl}}">{{blogger.name}}</a>, <a href="/semesters/{{semesterSlug}}">{{semesterName}}</a>
      </h3>
    <h4 class="published-date">
      <span class="glyphicon glyphicon-calendar"></span>
      {{formattedDateTime}}
    </h4>
  </div>
  <p class="content">{{{content}}}</p>

  <div class="tags">
    <h3>Tags</h3>
    <ul class="tags-list list-inline">
      {{#each tags}}
        <li class="tag well well-sm">{{tag}}</li>
      {{/each}}
    </ul>
  </div>

  <h4 class="originally-published">Originally published here: <a href="{{blogUrl}}">{{blogUrl}}</a></h5>
</div>