<!DOCTYPE html>
<html>
<head>
  <title>FlMagDash</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>

  <meta name="viewport" content="initial-scale=1">
</head>
<body>


<div id="wrapper">
  <%= render 'layouts/navbar' %>
  <%= render 'layouts/sidebar' %>
  <div data-pjax-container id="page-content-wrapper">
    <%= yield %>
  </div>
</div>

</body>
</html>